@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    font-family: 'Poppins', sans-serif;
}

.address-header {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
}

.address-header address, .address-header a {
    color: white;
    font-weight: 400;
}

.search-wrapper {
    border: 0.5px solid #4F4F4F;
    border-radius: 5px;
    font-size: 12px;
    color: #828282;
}

.search-wrapper input {
    font-size: 12px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.menu-items a {
    font-size: 12px;
}

.menu-items a span {
    margin-top: 5px;
}

.hamburger-menu, .hamburger-menu::before, .hamburger-menu::after {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    background: #000;
    border-radius: 4px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.hamburger-menu::before, .hamburger-menu::after {
    content: "";
}

.hambuger-btn {
    padding: 0;
    height: 24px;
    width: 30px;
    position: relative;
}

.hamburger-menu::before {
    top: 7px;
}

.hamburger-menu::after {
    bottom: 7px;
}

.rule {
    border-bottom: 0.5px solid #828282;
}

.rule2 {
    border-bottom: 0.5px solid #E0E0E0;
}

.rule3 {
    border-bottom: 0.5px solid #FFCA05;
    width: 92%;
    margin: auto;
}

#section-menus a {
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
}

#section-menus a:nth-child(n+1):nth-child(-n+4) {
    color: #F4811F;
}

.carousel-indicators {
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.carousel-indicators li {
    width: 32px;
    opacity: 1;
    height: 1px;
}

.carousel-indicators .active {
    background-color: #F4811F;
}

.carousel-item {
    height: 704px;
    background-image: url(/img/jumbotron.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.jumbo-card {
    background: #FFFFFF;
    border-radius: 5px;
    width: 460px;
    padding-left: 46px;
    padding-top: 42px;
    padding-right: 74px;
    padding-bottom: 48px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.jumbo-card h4 {
    font-size: 24px;
    margin-bottom: 35px;
}

.jumbo-card h5 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.jumbo-card h5 span {
    color: #F4811F;
    font-style: italic;
}

.jumbo-card .btn {
    background-color: #000000;
    color: #F2F2F2;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 54px;
    height: 64px;
    line-height: 64px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.3));
}

.jumbo-card .btn img {
    margin-left: 10px;
}

#shop-by-space h4, .popular-product h4 {
    font-size: 18px;
    font-weight: 500;
}

#shop-by-space h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

#shop-by-space h4 a, .popular-product h4 a {
    font-size: 14px;
    color: #F4811F;
    text-decoration: underline;
    font-weight: 400;
}

.select-your-space h4 {
    font-weight: 600;
    font-size: 18px;
}

.select-your-space h4 {
    font-weight: 600;
    font-size: 18px;
}

.select-your-space .view-all {
    color: #F4811F;
    font-size: 12px;
}

.select-your-space h5 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.product-card {
    border-radius: 5px;
    height: 272px;
    width: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product2 .product-card {
    height: 500px;
    width: 98%;
}

.product-card:hover {
    cursor: pointer;
}

.product-card .title {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.product-card p {
    color: #F4811F;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 5rem;
}

.product-name {
    font-weight: 400;
    font-size: 12px;
}

.product-price {
    font-weight: 600;
    font-size: 14px;
}

.prod-categories {
    width: 100vw;
}

.discount {
    position: absolute;
    top: 28px;
    left: 0;
    background-color: #000000;
    padding: 12px;
}

.discount p {
    color: white;
    margin: 0;
}

.left-icon {
    transform: rotate(180deg);
}

.img1 {
    background: url(img/img1.svg), #C4C4C4;
}

.img2 {
    background: url(img/img2.svg), #C4C4C4;
}

.img3 {
    background: url(img/img3.svg), #C4C4C4;
}

.img4 {
    background: url(img/img4.svg), #C4C4C4;
}

.img5 {
    background: url(img/img5.svg), #C4C4C4;
}

.img6 {
    background: url(img/img6.svg), #C4C4C4;
}

.img7 {
    background: url(img/img7.svg), #C4C4C4;
}

.img8 {
    background: url(img/img8.svg), #C4C4C4;
}

.popular-product {
    background: #FFFFFF;
    box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.mailing-wrapper {
    border-radius: 5px;
    overflow: hidden;
}

.mailing-list {
    height: 320px;
    background: #F2F2F2;
    padding-left: 4rem;
    padding-top: 2rem;
}

.mailing-list h3 {
    font-size: 18px;
    font-weight: 600;
}

.mailing-list h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.mailing-img {
    background: url(img/mailing.svg), #F2F2F2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#email {
    border: 0;
    border-radius: 0;
    border-bottom: 0.5px solid #000000;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    background-color: transparent;
    padding-left: 0;
}

.subscribe, .subscribe:hover {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 64px;
    width: 178px;
    line-height: 64px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #F2F2F2;
    font-size: 14px;
}

footer {
    background: #333333;
}

footer p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

footer h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

footer .links a {
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
}

footer .links a:hover {
    text-decoration: none;
    color: #F4811F !important;
}

.slick-arrow {
    display: none !important;
}

.slick-list {
    padding: 0 !important;
}

@media(max-width: 576px) {
    .search-wrapper {
        background: rgba(196, 196, 196, 0.2);
        border: 0;
    }
    .search-wrapper input {
        background-color: transparent;
    }
    .jumbo-card {
        background: #FFFFFF;
        border-radius: 5px;
        width: 100%;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 4rem;
        padding-bottom: 22px;
        position: relative !important;
        top: 0%;
        left: 0%;
        transform: translateY(0%);
    }
    .jumbo-card h4 {
        font-size: 18px;
        margin-bottom: 35px;
        margin-bottom: 10px !important;
    }
    .jumbo-card h5 {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }
    .jumbo-card h5 span {
        color: #FFCA05;
        font-style: italic;
        font-weight: 600;
    }
    .jumbo-card .btn {
        background-color: #000000;
        color: #F2F2F2;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 14px !important;
        font-weight: 500;
        margin-top: 22px;
        height: 48px;
        line-height: 48px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.3));
    }
    .jumbo-card .btn img {
        margin-left: 10px;
    }
    .product-card {
        height: 130px;
        background-size: cover;
    }
    .select-your-space a.btn {
        padding-left: 0;
        font-weight: 500;
    }
    .feature-carousel .slick-slide {
        width: 145px !important;
    }
    .feature-carousel .product-name {
        font-weight: 500;
        font-size: 12px;
    }
    .feature-carousel .product-price {
        font-size: 12px;
    }
    .feature-carousel .product-card {
        width: 145px;
        height: 180px;
    }
    .feature-category-carousel .product-card {
        width: 90%;
        height: 160px;
    }
    .feature-category-carousel .slick-slide {
        width: 90vw !important;
    }
    .feature-category-carousel p {
        background: #FFCA05;
        display: inline-block;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        padding: 6px 12px;
        padding-right: 3rem;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
    }
    .feature-carousel .discount p {
        font-size: 10px;
        font-weight: 400;
    }
    .feature-carousel .discount {
        padding: 6px;
        top: 15px
    }
    .popular-cat a {
        font-weight: 500;
        font-size: 12px;
    }
    .popular-cat .product-card {
        height: 72px;
    }
    .popular-cat .view-all {
        background: #000000;
        border: 1px solid #000000;
        border-radius: 5px;
        color: #F2F2F2;
        height: 48px;
        line-height: 48px;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 2rem;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.3));
    }
}